doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title CCC LP
  meta(name='description' content='')
main.main
  header.header
    a(href='modules-example.html')
      img.header__logo(src=require('../assets/images/logo.svg') alt='logo' loading='lazy')
      span.header__circles