doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title CCC LP
  meta(name='description' content='')
.background.background--js
main.main
  include ../partials/header.pug
  include ../partials/gallery-left.pug
  include ../partials/gallery-center.pug
  include ../partials/gallery-right.pug
  include ../partials/gallery-2.pug
  include ../partials/gallery-1-description.pug
  include ../partials/gallery-2-left.pug
  include ../partials/gallery-2-right.pug
  include ../partials/video.pug
  include ../partials/carousel.pug
  include ../partials/scroll-carousel.pug
  include ../partials/scroll-carousel-two-rows.pug
  include ../partials/gallery-with-product.pug
  include ../partials/scroll-with-arrows.pug
  include ../partials/gallery-8.pug
  include ../partials/button-black.pug
  include ../partials/button-arrow.pug
  include ../partials/button-underlined.pug
  
  
  
  
