.gallery
    .gallery__item
      .gallery__wrapper(style='--aspect-ratio: 1040/780')
        img.gallery__image.animation-on-scroll.animation-on-scroll--js(src=require('../assets/images/photo-1.jpg') alt='Photo' loading='lazy')
      .product(style='left: 20%; top: 86%' tabindex='0')
        .product__circle
        a.product__description(href='https://ccc.eu/pl')
          span.product__title P&oacute;&lstrok;buty DeeZee
          span.product__prize 299,99 z&lstrok;
          span.product__CTA zobacz