.gallery
    .gallery__item.gallery__item--s
      .gallery__wrapper(style='--aspect-ratio: 745/780')
        img.gallery__image.animation-on-scroll.animation-on-scroll--js(src=require('../assets/images/photo-2.jpg') alt='Photo' loading='lazy')
    .gallery__item.gallery__item--l
      .gallery__wrapper(style='--aspect-ratio: 745/780')
        img.gallery__image.animation-on-scroll.animation-on-scroll--js(src=require('../assets/images/photo-2.jpg') alt='Photo' loading='lazy')
    p.gallery__title
      | Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deleniti,
      | pariatur.