.gallery.gallery--right
    .gallery__item
      .gallery__wrapper(style='--aspect-ratio: 1040/780')
        img.gallery__image.animation-on-scroll.animation-on-scroll--js(src=require('../assets/images/photo-1.jpg') alt='Photo' loading='lazy')
      p.gallery__title
        | Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deleniti,
        | pariatur.
      a.gallery__link(href='#')
        span.gallery__cta sprawd&zacute; produkt