.gallery
    .gallery__item.gallery__item--m
      .gallery__wrapper(style='--aspect-ratio: 745/780')
        img.gallery__image.animation-on-scroll.animation-on-scroll--js(src=require('../assets/images/photo-2.jpg') alt='Photo' loading='lazy')
      .product(style='left: 20%; top: 86%' tabindex='0')
        .product__circle
        a.product__description(href='https://ccc.eu/pl')
          span.product__title P&oacute;&lstrok;buty DeeZee
          span.product__prize 299,99 z&lstrok;
          span.product__CTA zobacz
    .gallery__item.gallery__item--m.gallery__item--vertical-align-bottom
      p.gallery__title
        | Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deleniti,
        | pariatur.
      a.gallery__link(href='#')
        span.gallery__cta sprawd&zacute; produkt