header.header
    .header__wrapper(style='--aspect-ratio: 1040/780')
      img.header__image(src=require('../assets/images/main-photo.jpg') alt='Main photo')
    img.header__logo(src=require('../assets/images/logo.svg') alt='logo')


      