.scroll-carousel.animation-on-scroll.animation-on-scroll--js
    .scroll-carousel__container
      a.scroll-carousel__item(href='#')
        img.scroll-carousel__image(src=require('../assets/images/packshot-1.jpg') alt='Photo')
      a.scroll-carousel__item(href='#')
        img.scroll-carousel__image(src=require('../assets/images/packshot-2.jpg') alt='Photo')
      a.scroll-carousel__item(href='#')
        img.scroll-carousel__image(src=require('../assets/images/packshot-3.jpg') alt='Photo')
      a.scroll-carousel__item(href='#')
        img.scroll-carousel__image(src=require('../assets/images/packshot-4.jpg') alt='Photo')