.video-gallery
    .video-gallery__container
      // <div class="video__wrapper" style="--aspect-ratio: 745/780">
      video.video-gallery__video(poster='../assets/images/poster.jpg' autoplay='' loop='' muted='' playsinline='')
        source(src=require('../assets/video/video-645x826.mp4') type='video/mp4')
      // </div>