@font-face {
  font-family: 'Univers LT W05_55 Roman';
  src: url('https://ccc-frontend.github.io/fonts/fonts/7b452431-e4a6-48a8-8ba1-c6300f9384df.woff2')
    format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'UniversLTPro-65Bold';
  src: url('https://ccc-frontend.github.io/fonts/fonts/Linotype-UniversLTPro-65Bold.woff2')
    format('woff2');
  font-display: swap;
}

// @font-face {
//   font-family: 'UniversLTPro-BoldExt';
//   src: url('https://ccc-frontend.github.io/fonts/fonts/Linotype-UniversLTPro-BoldExt.woff2')
//     format('woff2');
//   font-display: swap;
// }

// @font-face {
//   font-family: 'Linotype-UniversLTPro-BlackExt';
//   src: url('https://ccc-frontend.github.io/fonts/fonts/Linotype-UniversLTPro-BlackExt.woff2')
//     format('woff2');
//   font-display: swap;
// }

// @font-face {
//   font-family: 'Gordita';
//   src: url('https://ccc.eu/assets/fonts/gordita/Gordita-Medium.woff2')
//     format('woff2');
//   font-display: swap;
// }

// @font-face {
//   font-family: 'Druk Wide Bold';
//   src: url('https://fonts.pattyhell.com/fonts/Druk-Wide-Bold.woff2')
//     format('woff2');
//   font-display: swap;
// }
