@import '_normalize';

@import '_variables';
@import '_mixins';
@import '_fonts';

@import 'modules/_header';
@import 'modules/_background';
@import 'modules/_video-gallery';
@import 'modules/_carousel';
@import 'modules/_scroll-carousel';
@import 'modules/_scroll-carousel-with-arrows';
@import 'modules/_button';
@import 'modules/_gallery';
@import 'modules/_animation-on-scroll';
@import 'modules/_product';

.main {
  color: $main-color;
  font-family: $main-font;
  font-size: $global-font-size;
  line-height: $global-line-hight;
  font-weight: $global-font-weight;
  letter-spacing: $global-letter-spacing;

  min-height: 100vh;
  min-width: $main-min-width;
  max-width: $main-max-width;
  margin: 0 auto;
  overflow: hidden;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  box-sizing: border-box;
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

  [style*='--aspect-ratio'] {
    position: relative;

    &::before {
      content: '';
      display: block;
      padding-bottom: calc(100% / (var(--aspect-ratio)));
    }

    > :first-child {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}
